.trip {
	border: 1px solid black;
	display: flex;
	flex-direction: row;
}

.card {
	width: 65vw;
	margin-left: auto;
	margin-right: 5vw;
}

.trip-cards {
	margin-left: auto;
  	margin-right: auto
}

.hidden, .hidden * {
	display: none;
}