.App {
  background-color: rgb(216, 217, 236);
  text-align: center;
}


.container {
  display: flex;
<<<<<<< HEAD
  justify-content: space-around;
=======
  /*overflow: scroll;*/
>>>>>>> cdf3c426a7dd163d8b9455bc5ea258920a6bbbdd
}
